[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = http://github.com/tpope/vim-rake.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = http://github.com/tpope/vim-git.git
[submodule "bundle/vim-liquid"]
	path = bundle/vim-liquid
	url = http://github.com/tpope/vim-liquid.git
[submodule "bundle/vim-afterimage"]
	path = bundle/vim-afterimage
	url = http://github.com/tpope/vim-afterimage.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = http://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-flatfoot"]
	path = bundle/vim-flatfoot
	url = http://github.com/tpope/vim-flatfoot.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
